/* --------------------------------------------------------------------------
 *
 * file           : theme-switcher.css
 * Desc           : Foundstrap Theme Switcher
 * Author         : Imam Firmansyah
 * Author URI     : http://imamfirmansyah.com
 * Email          : imamfirmansyah27@gmail.com
 *
 * Copyright 2014. All Rights Reserved.
 * -------------------------------------------------------------------------- */
::selection {
  background-color: #bc8339; }

::-moz-selection {
  background-color: #bc8339; }

#me-header.header-style1 .me-menu a.active,
#me-header.header-style1 .me-menu a.current,
#me-header.header-style1 .me-menu a:hover,
#me-header.header-style1 .me-menu a:focus,
#me-header.header-style1 .me-menu a:active,
#me-header.header-style1 .me-menu a.highlighted, .slideshow .slider1-separator:before,
.slideshow .button-slider-group, #scrollUp,
.heading-title:after,
.slideshow .slider3-caption2,
.masonry-no-image,
.masonry-overlay.keid-overlay, .button, .button.button-border:hover, .progress-bar .progress-content,
.me-panel.fold, .icon-shape.circle,
.icon-shape.square,
.icon-shape.radius,
.text-shape.circle,
.text-shape.square,
.text-shape.radius,
.pricing-table .price,
.menu-trigger, .pricing-table.pricing-style3:after, .keid-section,
.me-breadcrumb > .active a,
blockquote cite span, .testimonial-description span,
.me-team span,
.me-team .social-icon a, .me-artice .social-icon a,
.badge,
.comment-text .reply,
.tag-cloud a, .image-content .img-overlay,
.me-image .image-caption:after, .portfolio-filter .button.selected, .mejs-audio .mejs-controls .mejs-time-rail .mejs-time-current, .pagination li.active a,
.table th,
.promo-box:before,
.highlight,
.dropcap.circle,
.dropcap.square, .me-tab-big .resp-tabs-list li.resp-tab-active, .me-tab-big .resp-tabs-list li:hover, .pricing-table.pricing-style4 .cta-button, .chosen-container .chosen-results li.highlighted,
.panel-talk,
.medical-open,
.me-testimonial.testimonial-style2 .testimonial-text,
.medical-schedule,
.medical-parallax, .form-reservation, .header-widget,
.hotel-room .room-facilities {
  background-color: #bc8339; }

#scrollUp:hover, #scrollUp:focus, .button:hover, .button:focus, .button.button-icon-right:hover .button-icon,
.button.button-icon-left:hover .button-icon, .menu-trigger.active, .keid-section .heading-title:after,
.me-breadcrumb a:hover, .pricing-table .title,
.me-team .social-icon a:hover, .pagination li a:hover,
.pagination li.active a:hover,
.tag-cloud a:hover, .portfolio-filter .button:hover {
  background-color: #d3a76e; }

.slideshow .restaurant-slider1-caption1, .icon-shape i,
.icon-shape span,
.text-shape i,
.text-shape span,
.keid-color,
.post-item i, .twitter-feed .twitter-text a,
.twitter-feed .twitter-text .at, .text-shape.stroke i, .text-shape.stroke span,
.icon-shape.stroke i,
.icon-shape.stroke span, .pricing-table.pricing-style3 .bullet-item:before,
h4.resp-accordion i, .resp-tabs-list li i, .popular-list a,
.blog-author .author-link, .me-testimonial.testimonial-style3 .testimonial-description span,
.me-testimonial.testimonial-style2 .testimonial-description span, #me-header.header-style3 .phone-number {
  color: #bc8339; }

a:hover, .button.link:hover, .button.button-app.link:hover, .post-item .post-title-item:hover *, .twitter-feed .twitter-text a:hover,
.twitter-feed .twitter-text .at:hover, .me-menu a:hover,
.me-menu a:focus,
.me-menu a:active,
.me-menu a.highlighted,
.me-menu a.active,
.me-menu a.current,
.me-menu a.current:hover,
.me-menu a.current:focus,
.me-menu a.current:active, .me-menu ul a:hover,
.me-menu ul a:focus,
.me-menu ul a:active,
.me-menu ul a.highlighted, .blog-carousel-nav .left-nav:hover i, .blog-carousel-nav .right-nav:hover i, .category-list a:hover,
.popular-list a:hover,
.archive-list a:hover,
.blog-author .author-link:hover, .list-circle-check a:hover,
.list-arrow a:hover,
.list-arrow-circle a:hover,
.list-no-bullet a:hover,
.list-disc a:hover,
.list-square a:hover,
.list-number a:hover,
.blog-link a:hover {
  color: #d3a76e; }

.slideshow .tp-bannertimer {
  background: rgba(188, 131, 57, 0.5); }

#me-header.header-transparent .me-menu a.active,
#me-header.header-transparent .me-menu a.current,
#me-header.header-transparent .me-menu a:hover,
#me-header.header-transparent .me-menu a:focus,
#me-header.header-transparent .me-menu a:active,
#me-header.header-transparent .me-menu a.highlighted {
  color: #bc8339; }

#me-header.header-style1 .me-menu ul a.active,
#me-header.header-style1 .me-menu ul a.current,
#me-header.header-style1 .me-menu ul a:hover,
#me-header.header-style1 .me-menu ul a:focus,
#me-header.header-style1 .me-menu ul a:active,
#me-header.header-style1 .me-menu ul a.highlighted {
  color: #bc8339 !important; }

#me-header.header-style2 .me-menu a.active, #me-header.header-style2 .me-menu a.current, #me-header.header-style2 .me-menu a:hover, #me-header.header-style2 .me-menu a:focus, #me-header.header-style2 .me-menu a:active, #me-header.header-style2 .me-menu a.highlighted,
#me-header.header-style4 .me-menu a.active,
#me-header.header-style4 .me-menu a.current,
#me-header.header-style4 .me-menu a:hover,
#me-header.header-style4 .me-menu a:focus,
#me-header.header-style4 .me-menu a:active,
#me-header.header-style4 .me-menu a.highlighted {
  color: #bc8339; }

#me-header.header-style3 .header-under-container {
  background: rgba(188, 131, 57, 0.75); }

.me-menu span.scroll-up:hover span.scroll-up-arrow:after,
.me-menu span.scroll-down:hover span.scroll-down-arrow:after {
  color: #d3a76e; }

.slideshow .button-slider-group .button-icon {
  background: #9d6d30; }

#slideshow-container .tp-rightarrow.default:hover:before,
#slideshow-container .tp-leftarrow.default:hover:before {
  color: #d3a76e; }

.button.button-icon-right .button-icon,
.button.button-icon-left .button-icon {
  background: #9d6d30; }

.list-color li:before {
  color: #bc8339 !important; }

.form-control:focus {
  border-color: #bc8339;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(188, 131, 57, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(188, 131, 57, 0.6); }

.me-menu a:hover span.sub-arrow:after,
.me-menu a:focus span.sub-arrow:after,
.me-menu a:active span.sub-arrow:after,
.me-menu a.highlighted span.sub-arrow:after {
  color: #d3a76e; }

.button.button-border {
  border: 1px solid #bc8339;
  color: #bc8339; }

.me-panel.fold:before {
  border-color: #f6f6f6 #6e4c21 #f6f6f6 #f6f6f6; }

.text-shape.stroke,
.icon-shape.stroke {
  border: 2px solid #bc8339;
  background: transparent; }

.pricing-table.pricing-style2 {
  border: 5px solid #bc8339; }

.me-menu .mega-menu-list li a:hover,
.me-menu .mega-menu-list li a:focus,
.me-menu .mega-menu-list li a:active {
  color: #d3a76e !important; }

.pricing-table.pricing-style3.featured-pricing {
  border-color: #d3a76e; }

.slideshow-app {
  background-color: #6e4c21; }

.resp-tabs-list li:hover,
h4.resp-accordion:hover,
h4.resp-accordion.resp-tab-active,
h4.resp-accordion.resp-tab-active:hover,
h4.resp-accordion.resp-tab-active:active,
.resp-tabs-list li.resp-tab-active,
.resp-tabs-list li.resp-tab-active:hover,
.resp-tabs-list li.resp-tab-active:active {
  background: #bc8339;
  border: 1px solid #bc8339; }

.blog-info .date-blog-info,
.pagination li.active a {
  border-color: #bc8339; }

.pagination li a:hover,
.pagination li.active a:hover {
  border-color: #d3a76e; }

.restaurant-reservation-form fieldset,
.restaurant-reservation-form .form-control {
  border-color: #bc8339; }

.me-tab-big .resp-tabs-list li.resp-tab-active:after {
  border-color: #bc8339 transparent transparent transparent; }

.me-testimonial.testimonial-style3 img {
  border-color: #bc8339; }

.form-reservation .form-control,
.form-reservation .chosen-container-single .chosen-single {
  border: 2px solid #95682d; }

#me-header.header-style3 .phone-number {
  border-color: #bc8339; }

#me-header.header-style3 .me-menu a.active,
#me-header.header-style3 .me-menu a:hover {
  color: #815a27 !important; }

#me-header.header-style4 .header-box,
.photography-contact-container .form-control {
  border-color: #bc8339; }

.datepicker td.active,
.datepicker td.active:hover {
  background: #bc8339 !important; }
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled],
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  background: #bc8339 !important; }

@media only screen and (max-width: 959px) {
  #me-header.header-style1 .me-menu a.active,
  #me-header.header-style1 .me-menu a.current,
  #me-header.header-style1 .me-menu a:hover,
  #me-header.header-style1 .me-menu a:focus,
  #me-header.header-style1 .me-menu a:active,
  #me-header.header-style1 .me-menu a.highlighted {
    color: #bc8339 !important; } }
