/* ------------------------------------------------------------------
	
	[Table of contents]
	1. button
	2. list item
	3. pricing table
	4. panel
	5. icon shape
	
------------------------------------------------------------------ */
/* [button] */
.button {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: #e6ae48;
  padding: 10px 16px; }
  .button:hover, .button:focus {
    background: #f7c468;
    outline: 0; }
  .button.button-border {
    border: 1px solid #f7c468;
    color: #f7c468;
    background: transparent; }
    .button.button-border.white {
      color: #fff;
      border-color: #fff; }
    .button.button-border.black {
      border-color: #3b3b3b;
      color: #3b3b3b;
      background: transparent; }
  .button.black {
    background: #3b3b3b;
    color: #fff; }
    .button.black:hover {
      background: #616161; }
  .button.button-border:hover, .button.button-border:focus {
    color: #fff;
    border: 1px solid transparent;
    background: #f7c468; }
  .button.button-border.blue:hover, .button.button-border.blue:focus {
    background: #50c7ff; }
  .button.button-border.green:hover, .button.button-border.green:focus {
    background: #b8d477; }
  .button.button-border.red:hover, .button.button-border.red:focus {
    background: #ff9191; }
  .button.button-border.yellow:hover, .button.button-border.yellow:focus {
    background: #f7c468; }
  .button.button-border.gray:hover, .button.button-border.gray:focus {
    background: #c6c6c6; }
  .button.button-border.black:hover, .button.button-border.black:focus {
    background: #616161; }
  .button.button-border.white:hover, .button.button-border.white:focus {
    background: #fff;
    color: #7b7b7b; }
  .button + .button {
    margin-left: 18px; }
  .button.link:hover {
    color: #f7c468; }
  .button.small {
    font-size: 10px; }
  .button.large {
    font-size: 16px;
    padding: 12px 20px 13px 20px; }
  .button.button-icon-right, .button.button-icon-left {
    position: relative;
    padding-right: 55px; }
    .button.button-icon-right .button-icon, .button.button-icon-left .button-icon {
      position: absolute;
      bottom: -1px;
      right: -1px;
      height: 39px;
      width: 39px;
      line-height: 39px;
      background: #e19e24;
      transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -webkit-transition: all .25s ease-in-out; }
      .button.button-icon-right .button-icon i, .button.button-icon-left .button-icon i {
        margin: 0; }
    .button.button-icon-right:hover .button-icon, .button.button-icon-left:hover .button-icon {
      background: #f7c468; }
  .button.button-icon-right.green .button-icon, .button.button-icon-left.green .button-icon {
    background: #81a333; }
  .button.button-icon-right.green:hover .button-icon, .button.button-icon-left.green:hover .button-icon {
    background: #b8d477; }
  .button.button-icon-right.blue .button-icon, .button.button-icon-left.blue .button-icon {
    background: #0094d9; }
  .button.button-icon-right.blue:hover .button-icon, .button.button-icon-left.blue:hover .button-icon {
    background: #50c7ff; }
  .button.button-icon-right.red .button-icon, .button.button-icon-left.red .button-icon {
    background: #ff1b1b; }
  .button.button-icon-right.red:hover .button-icon, .button.button-icon-left.red:hover .button-icon {
    background: #ff9191; }
  .button.button-icon-right.yellow .button-icon, .button.button-icon-left.yellow .button-icon {
    background: #e19e24; }
  .button.button-icon-right.yellow:hover .button-icon, .button.button-icon-left.yellow:hover .button-icon {
    background: #f7c468; }
  .button.button-icon-right.gray .button-icon, .button.button-icon-left.gray .button-icon {
    background: #8c8c8c; }
  .button.button-icon-right.gray:hover .button-icon, .button.button-icon-left.gray:hover .button-icon {
    background: #c6c6c6; }
  .button.button-icon-right.white .button-icon, .button.button-icon-left.white .button-icon {
    background: #e6e6e6; }
  .button.button-icon-right.white:hover .button-icon, .button.button-icon-left.white:hover .button-icon {
    background: #eeeeee; }
  .button.button-icon-right.black .button-icon, .button.button-icon-left.black .button-icon {
    background: #272727; }
  .button.button-icon-right.black:hover .button-icon, .button.button-icon-left.black:hover .button-icon {
    background: #616161; }
  .button.button-icon-left {
    padding-left: 55px;
    padding-right: 16px; }
    .button.button-icon-left .button-icon {
      left: -1px; }
  .button.small.button-icon-right {
    padding-right: 50px; }
  .button.small.button-icon-left {
    padding-left: 50px; }
  .button.small.button-icon-right .button-icon, .button.small.button-icon-left .button-icon {
    height: 36px;
    width: 36px;
    line-height: 36px; }
  .button.large.button-icon-right {
    padding-right: 63px; }
  .button.large.button-icon-left {
    padding-left: 63px; }
  .button.large.button-icon-right .button-icon, .button.large.button-icon-left .button-icon {
    height: 48px;
    width: 48px;
    line-height: 48px; }

.button.button-app {
  font-family: "Roboto", sans-serif !important;
  padding: 19px;
  font-weight: 300;
  text-transform: none; }
  .button.button-app .button-text {
    float: right;
    text-align: left;
    font-size: 16px; }
  .button.button-app strong {
    font-size: 13px;
    font-weight: 900;
    display: block; }
  .button.button-app i {
    font-size: 26px;
    margin: 0 12px 0 0;
    float: left;
    top: 7px; }
  .button.button-app.button-border {
    border-width: 2px;
    padding: 18px; }
    .button.button-app.button-border:hover {
      border: 2px solid transparent; }
  .button.button-app.link {
    background: transparent;
    color: #393939; }
    .button.button-app.link:hover {
      color: #f7c468; }

/* [list item] */
.list-circle-check li, .list-circle-check a,
.list-arrow li,
.list-arrow a,
.list-arrow-circle li,
.list-arrow-circle a,
.list-no-bullet li,
.list-no-bullet a,
.list-disc li,
.list-disc a,
.list-square li,
.list-square a,
.list-number li,
.list-number a {
  color: inherit; }
.list-circle-check a:hover,
.list-arrow a:hover,
.list-arrow-circle a:hover,
.list-no-bullet a:hover,
.list-disc a:hover,
.list-square a:hover,
.list-number a:hover {
  color: #f7c468; }

.list-color li:before {
  color: #e6ae48 !important; }

.list-border li {
  border-bottom: 1px solid #d5d5d5;
  padding: 12px 0; }
  .list-border li:first-child {
    padding-top: 0; }
.list-border ul {
  margin-left: 1.25em;
  margin-bottom: 0;
  padding-top: 12px; }
  .list-border ul li {
    color: inherit; }
  .list-border ul li:first-child {
    padding-top: 12px;
    border-top: 1px solid #d5d5d5; }
  .list-border ul li:last-child {
    border-bottom: none;
    padding-bottom: 0; }

/* [pricing table] */
.pricing-table.blue .title {
  background-color: #50c7ff; }
.pricing-table.blue .price {
  background-color: #03afff; }
.pricing-table.green .title {
  background-color: #b8d477; }
.pricing-table.green .price {
  background-color: #9ac23d; }
.pricing-table.red .title {
  background-color: #ff9191; }
.pricing-table.red .price {
  background-color: #ff4444; }
.pricing-table.yellow .title {
  background-color: #f7c468; }
.pricing-table.yellow .price {
  background-color: #e6ae48; }
.pricing-table.gray .title {
  background-color: #c6c6c6; }
.pricing-table.gray .price {
  background-color: #a0a0a0; }

.pricing-table.pricing-style2.black .me-box-icon i {
  color: #a0a0a0; }
.pricing-table.pricing-style2.blue {
  border-color: #03afff; }
.pricing-table.pricing-style2.green {
  border-color: #9ac23d; }
.pricing-table.pricing-style2.red {
  border-color: #ff4444; }
.pricing-table.pricing-style2.yellow {
  border-color: #e6ae48; }
.pricing-table.pricing-style2.gray {
  border-color: #a0a0a0; }

.pricing-table.pricing-style3.black:after {
  background: #3b3b3b; }
.pricing-table.pricing-style3.black .bullet-item:before {
  color: #3b3b3b; }
.pricing-table.pricing-style3.blue:after {
  background: #03afff; }
.pricing-table.pricing-style3.blue .bullet-item:before {
  color: #03afff; }
.pricing-table.pricing-style3.green:after {
  background: #9ac23d; }
.pricing-table.pricing-style3.green .bullet-item:before {
  color: #9ac23d; }
.pricing-table.pricing-style3.red:after {
  background: #ff4444; }
.pricing-table.pricing-style3.red .bullet-item:before {
  color: #ff4444; }
.pricing-table.pricing-style3.yellow:after {
  background: #e6ae48; }
.pricing-table.pricing-style3.yellow .bullet-item:before {
  color: #e6ae48; }
.pricing-table.pricing-style3.gray:after {
  background: #a0a0a0; }
.pricing-table.pricing-style3.gray .bullet-item:before {
  color: #a0a0a0; }

.pricing-table.pricing-style4.black .cta-button {
  background-color: #3b3b3b; }
.pricing-table.pricing-style4.blue .cta-button {
  background-color: #03afff; }
.pricing-table.pricing-style4.green .cta-button {
  background-color: #9ac23d; }
.pricing-table.pricing-style4.red .cta-button {
  background-color: #ff4444; }
.pricing-table.pricing-style4.yellow .cta-button {
  background-color: #e6ae48; }
.pricing-table.pricing-style4.gray .cta-button {
  background-color: #a0a0a0; }

/* [panel] */
.me-panel.fold {
  background: #e6ae48;
  padding-left: 38px;
  padding-top: 38px; }
  .me-panel.fold:before {
    border-color: #f6f6f6 #b07a18 #f6f6f6 #f6f6f6; }
  .me-panel.fold.blue:before {
    border-color: #f6f6f6 #006a9c #f6f6f6 #f6f6f6; }
  .me-panel.fold.green:before {
    border-color: #f6f6f6 #5c7425 #f6f6f6 #f6f6f6; }
  .me-panel.fold.yellow:before {
    border-color: #f6f6f6 #b07a18 #f6f6f6 #f6f6f6; }
  .me-panel.fold.red:before {
    border-color: #f6f6f6 #dd0000 #f6f6f6 #f6f6f6; }
  .me-panel.fold.gray:before {
    border-color: #f6f6f6 #617374 #f6f6f6 #f6f6f6; }

/* [icon shape] */
.icon-shape.white i, .icon-shape.white span,
.text-shape.white i,
.text-shape.white span {
  color: #fff; }
.icon-shape.white.circle, .icon-shape.white.square, .icon-shape.white.radius,
.text-shape.white.circle,
.text-shape.white.square,
.text-shape.white.radius {
  background: #fff; }
  .icon-shape.white.circle i, .icon-shape.white.circle span, .icon-shape.white.square i, .icon-shape.white.square span, .icon-shape.white.radius i, .icon-shape.white.radius span,
  .text-shape.white.circle i,
  .text-shape.white.circle span,
  .text-shape.white.square i,
  .text-shape.white.square span,
  .text-shape.white.radius i,
  .text-shape.white.radius span {
    color: #a0a0a0; }
.icon-shape.white.stroke,
.text-shape.white.stroke {
  background: transparent;
  border: 2px solid #fff;
  color: #fff; }
  .icon-shape.white.stroke i, .icon-shape.white.stroke span,
  .text-shape.white.stroke i,
  .text-shape.white.stroke span {
    color: #fff; }
.icon-shape.green i, .icon-shape.green span,
.text-shape.green i,
.text-shape.green span {
  color: #9ac23d; }
.icon-shape.green.circle, .icon-shape.green.square, .icon-shape.green.radius,
.text-shape.green.circle,
.text-shape.green.square,
.text-shape.green.radius {
  background: #9ac23d; }
  .icon-shape.green.circle i, .icon-shape.green.circle span, .icon-shape.green.square i, .icon-shape.green.square span, .icon-shape.green.radius i, .icon-shape.green.radius span,
  .text-shape.green.circle i,
  .text-shape.green.circle span,
  .text-shape.green.square i,
  .text-shape.green.square span,
  .text-shape.green.radius i,
  .text-shape.green.radius span {
    color: #fff; }
.icon-shape.green.stroke,
.text-shape.green.stroke {
  background: transparent;
  border: 2px solid #9ac23d;
  color: #9ac23d; }
  .icon-shape.green.stroke i, .icon-shape.green.stroke span,
  .text-shape.green.stroke i,
  .text-shape.green.stroke span {
    color: #9ac23d; }
.icon-shape.blue i, .icon-shape.blue span,
.text-shape.blue i,
.text-shape.blue span {
  color: #03b0ff; }
.icon-shape.blue.circle, .icon-shape.blue.square, .icon-shape.blue.radius,
.text-shape.blue.circle,
.text-shape.blue.square,
.text-shape.blue.radius {
  background: #03b0ff; }
  .icon-shape.blue.circle i, .icon-shape.blue.circle span, .icon-shape.blue.square i, .icon-shape.blue.square span, .icon-shape.blue.radius i, .icon-shape.blue.radius span,
  .text-shape.blue.circle i,
  .text-shape.blue.circle span,
  .text-shape.blue.square i,
  .text-shape.blue.square span,
  .text-shape.blue.radius i,
  .text-shape.blue.radius span {
    color: #fff; }
.icon-shape.blue.stroke,
.text-shape.blue.stroke {
  background: transparent;
  border: 2px solid #03b0ff;
  color: #03b0ff; }
  .icon-shape.blue.stroke i, .icon-shape.blue.stroke span,
  .text-shape.blue.stroke i,
  .text-shape.blue.stroke span {
    color: #03b0ff; }
.icon-shape.yellow i, .icon-shape.yellow span,
.text-shape.yellow i,
.text-shape.yellow span {
  color: #e6ae48; }
.icon-shape.yellow.circle, .icon-shape.yellow.square, .icon-shape.yellow.radius,
.text-shape.yellow.circle,
.text-shape.yellow.square,
.text-shape.yellow.radius {
  background: #e6ae48; }
  .icon-shape.yellow.circle i, .icon-shape.yellow.circle span, .icon-shape.yellow.square i, .icon-shape.yellow.square span, .icon-shape.yellow.radius i, .icon-shape.yellow.radius span,
  .text-shape.yellow.circle i,
  .text-shape.yellow.circle span,
  .text-shape.yellow.square i,
  .text-shape.yellow.square span,
  .text-shape.yellow.radius i,
  .text-shape.yellow.radius span {
    color: #fff; }
.icon-shape.yellow.stroke,
.text-shape.yellow.stroke {
  background: transparent;
  border: 2px solid #e6ae48;
  color: #e6ae48; }
  .icon-shape.yellow.stroke i, .icon-shape.yellow.stroke span,
  .text-shape.yellow.stroke i,
  .text-shape.yellow.stroke span {
    color: #e6ae48; }
.icon-shape.red i, .icon-shape.red span,
.text-shape.red i,
.text-shape.red span {
  color: #ff4444; }
.icon-shape.red.circle, .icon-shape.red.square, .icon-shape.red.radius,
.text-shape.red.circle,
.text-shape.red.square,
.text-shape.red.radius {
  background: #ff4444; }
  .icon-shape.red.circle i, .icon-shape.red.circle span, .icon-shape.red.square i, .icon-shape.red.square span, .icon-shape.red.radius i, .icon-shape.red.radius span,
  .text-shape.red.circle i,
  .text-shape.red.circle span,
  .text-shape.red.square i,
  .text-shape.red.square span,
  .text-shape.red.radius i,
  .text-shape.red.radius span {
    color: #fff; }
.icon-shape.red.stroke,
.text-shape.red.stroke {
  background: transparent;
  border: 2px solid #ff4444;
  color: #ff4444; }
  .icon-shape.red.stroke i, .icon-shape.red.stroke span,
  .text-shape.red.stroke i,
  .text-shape.red.stroke span {
    color: #ff4444; }
.icon-shape.gray i, .icon-shape.gray span,
.text-shape.gray i,
.text-shape.gray span {
  color: #a0a0a0; }
.icon-shape.gray.circle, .icon-shape.gray.square, .icon-shape.gray.radius,
.text-shape.gray.circle,
.text-shape.gray.square,
.text-shape.gray.radius {
  background: #a0a0a0; }
  .icon-shape.gray.circle i, .icon-shape.gray.circle span, .icon-shape.gray.square i, .icon-shape.gray.square span, .icon-shape.gray.radius i, .icon-shape.gray.radius span,
  .text-shape.gray.circle i,
  .text-shape.gray.circle span,
  .text-shape.gray.square i,
  .text-shape.gray.square span,
  .text-shape.gray.radius i,
  .text-shape.gray.radius span {
    color: #fff; }
.icon-shape.gray.stroke,
.text-shape.gray.stroke {
  background: transparent;
  border: 2px solid #a0a0a0;
  color: #a0a0a0; }
  .icon-shape.gray.stroke i, .icon-shape.gray.stroke span,
  .text-shape.gray.stroke i,
  .text-shape.gray.stroke span {
    color: #a0a0a0; }
.icon-shape.black i, .icon-shape.black span,
.text-shape.black i,
.text-shape.black span {
  color: #3b3b3b; }
.icon-shape.black.circle, .icon-shape.black.square, .icon-shape.black.radius,
.text-shape.black.circle,
.text-shape.black.square,
.text-shape.black.radius {
  background: #3b3b3b; }
  .icon-shape.black.circle i, .icon-shape.black.circle span, .icon-shape.black.square i, .icon-shape.black.square span, .icon-shape.black.radius i, .icon-shape.black.radius span,
  .text-shape.black.circle i,
  .text-shape.black.circle span,
  .text-shape.black.square i,
  .text-shape.black.square span,
  .text-shape.black.radius i,
  .text-shape.black.radius span {
    color: #fff; }
.icon-shape.black.stroke,
.text-shape.black.stroke {
  background: transparent;
  border: 2px solid #3b3b3b;
  color: #3b3b3b; }
  .icon-shape.black.stroke i, .icon-shape.black.stroke span,
  .text-shape.black.stroke i,
  .text-shape.black.stroke span {
    color: #3b3b3b; }
